### Ignore File ###

### Setting Files
KAKAO_ANAL/setting_private.py

### Virtual Environment
venv/
.idea/

### DB
mysite.iml
db.sqlite3

### cashe files
**/__pycashe__
*.pyc
*.ipynb
*.csv
kakao.log*
