#title {
	height: 120px;
	color: #404040;
	padding: 5px 0px
    display: inline-block;
    vertical-align: middle;
    line-height: 120px;
    text-align: center;
	/*position: fixed;*/
}

div.date-box {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

ul.date-interval {
    display: inline-block;
    padding: 0px;
    list-style:none;
    margin: 0;
}

ul.date-interval li {
    float: left;
    padding-right: 5px;
    padding-left: 5px;
}

p.date-box {
    display: block;
    margin: 0px;
	color: #404040;
	background-color: #FCFCFC;
    width: 150px;
    height: 36px;
    text-align: center;
	border-radius: 2em;
    line-height: 36px;
    cursor: pointer;
    border: 0.05em #BBBBBB;
    border-style: solid;
}

p.date-box:hover {
	background-color: #E6E6E6;
}

p.date-join-string {
    margin: 0px;
	color: #404040;
    width: 10px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}

div.chartbox {
    margin-top: 20px;
    margin-bottom: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

div.chartbox svg {
    display: block;
    margin: auto;
}

.chart-table {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.chartbox {
	width: 630px;
	height: 360px;
	border-radius: 1.5em;
	/*background-color: #FFFFFF;*/
	background-color: #F6F6F6;
}

.chartbox-title {
    padding-top: 10px;
    padding-left: 18px;
    padding-bottom: 18px;
}

.chartbox-title h2 {
	text-align: left;
	margin: 0px;
	color: #4D4D4D;
}

.cell:hover {
	cursor: pointer;
}

.tooltip {
	position: absolute;
	border: 0px solid;
	border-radius: 8px 8px 8px 8px;
	/*background-color: #FFEB33;*/
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	font-size: 15px;
}