/*div.inquiry-contents-box {
    margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 100px;
	*//*padding: 10px;*//*
    height: 600px;
    width: auto;
    overflow: hidden;
	border-radius: 1.5em;
	background-color: #F6F6F6;
}*/

div.my-info {
    width: 500px;
    height: auto;
    overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border-radius: 1.5em;
	background-color: #F6F6F6;
	font-family: 'Noto Serif KR', serif;
}

div.title h1 {
    color: #545454;
    margin-bottom: 100px
}

div.my-info-img {
    display: block;
    float: left;
    width: 30%;
    border-radius: 50%;
    overflow: hidden;
}

div.my-info-content {
    float: right;
    width: 70%;
    font-size: 13px;
}

div.my-name {
    padding-left: 50px;
}

div.my-name-kr {
    float: left;
    width: 20%;
    height: 60px;
}

div.my-name-eng {
    float: left;
    width: 80%;
    height: 60px;
}

div.my-name-eng p {
    display: inline-block;
    line-height: 36px;
    vertical-align: middle;
}

div.my-info-contact {
	margin-top: 20px;
    float: left;
    width: 100%;
    list-style:none;
    font-size: 15px;
}

div.my-info-tags {
	margin-top: 20px;
    float: right;
    width: 100%;
    font-size: 12px;
}

div.comment {
	margin-top: 50px;
    float: left;
    width: 100%;
}

ul.profile-list {
    list-style:none;
}