body{
	background-color: #F6F6F6;
	/*background-color: #FFFFFF;*/
}

div.main-box {
	text-align : center;
	margin : auto;
	background-color: #F6F6F6;
	width: 400px;
	height: 600px;
	border-radius: 1.5em;
}

div.main-margin-top {
	height: 80px;
}

div.main-comment {
	padding: 30px;
}

div.main-sample {
    margin: 50px;
}

div.hidden-button{
    padding: 30px;
    visibility:hidden;
}

div.main-sample {
	padding: 50px;
}
.status-box {
	height: 80px;
}

.status-box h2 {
	text-align : center;
	color: #40342F;
}

.main-contents {
    padding: 50px;
}

.main-contents form {
	padding-top: 50px;
	padding-bottom: 50px;
}

label.upload-space {
    width: 360px;
    height: 150px;
    display: inline-block;
	background-color: #F6F6F6;
    color: #BBBBBB;
    border: 0.1em dashed #BBBBBB;
    text-align:center;
    vertical-align: middle;
    line-height: 150px;
    cursor: pointer;
    border-radius: .25em;
}

label.upload-space:hover {
    background-color: #FCFCFC;
}

.load-space input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.submit-button button {
    margin: 0;
    border: 0;
    display: inline-block;
	background-color: #262626;
	width: 200px;
	height: 40px;
	border-radius: 0.25em;
	color: #FFFFFF;
    cursor: pointer;
}

.submit-button button:hover {
	background-color: #879399;
}

.inquiry-contents {
	padding-left: 20px;
	width: 100%
}

.loading img{
    display: block;
    position: absolute;
    opacity: 0.5;
}
