body{
	margin: 0px auto;
	background-color: #F6F6F6;
	font-family: 'Noto Sans KR', sans-serif;
}
.menu-bar {
	width: 100%;
	background-color: #FCFCFC;
}

.menu-title-bar {
	height: 75px;
}

.menu-button-bar {
	height: 50px;
    /*border: 0.1em #879399;*/
    border: 0.05em #BBBBBB;
    border-style: solid hidden;
}

.menu-title-bar h3 {
    margin: 0px;
    display: block;
    vertical-align: middle;
    line-height: 75px;
    text-align: center;
}

.menu-button {
	width: 125px;
	height: 50px;
	color: #404040;
	display: table;
	float: left;
}

.menu-button a {
    display: block;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
	text-decoration:none;
	color: #404040;
}

.menu-button-active {
	width: 125px;
	height: 50px;
	color: #40342F;
	display: table;
	float: left;
	background-color: #404040;
}

.menu-button-active a{
    display: block;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align:center;
    vertical-align: middle;
	text-decoration:none;
	color: #FFFFFF;
}

.menu-button-text {
	display: table-cell;
	vertical-align: middle;
}

.menu-button a:hover{
	background-color: #E6E6E6
;
}

.range-date {
	padding-left: 20px;
	width: 100%
}


/*#contents {
	width: 100%;
	height: 100%;
}
*/

.sidemenu {
	list-style: none;
}
.sidemenu li{	
	height: 50px;
	margin: 1px;
}

.footer {
	background-color: #404040;
	color: #FFFFFF;
	padding: 30px;
}

.footer-info p {
    font-size: 12px;
}