body{
	margin: 0px auto;
	background-color : #B2C7DA;
}
#title {
	height: 40px;
	text-align: center;
	background-color : #9AADBC;
	color: #40342F;
	padding: 5px 0px
	/*position: fixed;*/
}

.menu-bar {
	width: 100%;
	height: 50px;
	background-color: #9AADBC;
	color: #40342F;
	padding: 0px 0px
}

.menu-button {
	width: 125px;
	height: 50px;
	color: #40342F;
	display: table;
	float: left;
}

.menu-button a {
    display: block;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
	text-decoration:none;
	color: #FFFFFF;
}

.menu-button-active {
	width: 125px;
	height: 50px;
	color: #40342F;
	display: table;
	float: left;
	background-color: #82939E;
}

.menu-button-active a{
    display: block;
    height: 100%;
    line-height: 50px;
    font-size: 20px;
    text-align:center;
    vertical-align: middle;
	text-decoration:none;
	color: #FFFFFF;
}

.menu-button-text {
	display: table-cell;
	vertical-align: middle;
}

.menu-button:hover{
	background-color: #8EA0AD;
}

.range-date {
	padding-left: 20px;
	width: 100%
}


/*#contents {
	width: 100%;
	height: 100%;
}
*/

.sidemenu {
	list-style: none;
}
.sidemenu li{	
	height: 50px;
	margin: 1px;
}