<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>차트</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="{% static 'script/jquery-1.12.4.min.js' %}"></script>
</head>
<body>
	<div class="menu-bar">
		<div class="menu-title-bar">
			<center>
				<h3>카카오톡 대화 분석</h3>
			</center>
		</div>
		<div class="menu-button-bar">
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'main' %}">Main</a></div>
			</div>
			<div class="menu-button-active">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'charts' %}">Charts</a></div>
			</div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'inquiry' %}">Info</a></div>
			</div>
		</div>
	</div>
	<div id="contents">
		<div id="title">
			<h2></h2>
		</div>
		{% csrf_token %}
		<table class='chart-table'>
			<tbody>
				<tr>
					<td>
						<div class="date-box">
							<ul class="date-interval">
								<li><p id="startdate" class="date-box"></p></li>
								<li><p class="date-join-string">~</p></li>
								<li><p id="enddate"class="date-box"></p></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart1' class="chartbox">
							<div class="chartbox-title">
								<h2># 월별 대화량</h2>
							</div>
							<div id="chart1-loading"></div>
						</div>
					</td>
					<td>
						<div id='chart2' class="chartbox">
							<div class="chartbox-title">
								<h2># 사용자 점유율</h2>
							</div>
							<div id="chart2-loading"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart3' class="chartbox">
							<div class="chartbox-title">
								<h2># 월별 대화 변동</h2>
							</div>
							<div id="chart3-loading"></div>
						</div>
					</td>
					<td>
						<div id='chart4' class="chartbox">
							<div class="chartbox-title">
								<h2># 요일x시간별 대화량</h2>
							</div>
							<div id="chart4-loading"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart5' class="chartbox">
							<div class="chartbox-title">
								<h2># 최빈 사용단어</h2>
							</div>
							<div id="chart5-loading"></div>
						</div>
					</td>
					<td>
						<div id='chart6' class="chartbox">
							<div class="chartbox-title">
								<h2># 사용자 대화량</h2>
							</div>
							<div id="chart6-loading"></div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart7' class="chartbox">
							<div class="chartbox-title">
								<h2># 언급 횟수</h2>
							</div>
							<div id="chart7-loading"></div>
						</div>
					</td>
					<td>
						<div id='chart8' class="chartbox">
							<div class="chartbox-title">
								<h2># 언급 횟수</h2>
							</div>
							<div id="chart8-loading"></div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer">
		<div class="footer-info">
			<p>Created in 2019 by miintto</p>
			<p>https://github.com/miintto/KAKAO_TEXT_ANALYSIS_PAGE</p>
		</div>
	</div>
	<script src="{% static 'script/charts/chart_functions.js' %}"></script>
	<script src="{% static 'script/charts/charts_main.js' %}"></script>
</body>
</html>