<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>카카오톡 대화 분석</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
    <script type="text/javascript" src="{% static 'script/jquery-1.12.4.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
</head>
<body>
	<div class="menu-bar">
		<div class="menu-title-bar">
			<center>
				<h3>카카오톡 대화 분석</h3>
			</center>
		</div>
		<div class="menu-button-bar">
			<div class="menu-button"><a href="{% url 'main' %}">Main</a></div>
			<div class="menu-button-active"><a href="{% url 'charts_sample' %}">Charts</a></div>
			<div class="menu-button"><a href="{% url 'guide' %}">Guideline</a></div>
		</div>
	</div>
	<div id="contents">
		<div id="title">
			<h2></h2>
		</div>
		{% csrf_token %}
		<div class='chart-table'>
			<div class="chart-inline">
				<div class="date-box">
					<ul class="date-interval">
						<li><p id="startdate" class="date-box-unit"></p></li>
						<li><p class="date-join-string">~</p></li>
						<li><p id="enddate"class="date-box-unit"></p></li>
					</ul>
				</div>
				<div class="date-box"></div>
				<div id='chart1' class="chartbox">
					<div class="chartbox-title">
						<h1># 월별 대화량</h1>
					</div>
				</div>
				<div id='chart2' class="chartbox">
					<div class="chartbox-title">
						<h1># 사용자 점유율</h1>
					</div>
				</div>
				<div id='chart3' class="chartbox">
					<div class="chartbox-title">
						<h1># 월별 대화 변동</h1>
					</div>
				</div>
				<div id='chart4' class="chartbox">
					<div class="chartbox-title">
						<h1># 요일x시간별 대화량</h1>
					</div>
				</div>
				<div id='chart5' class="chartbox">
					<div class="chartbox-title">
						<h1># 최빈 사용단어</h1>
					</div>
				</div>
				<div id='chart6' class="chartbox">
					<div class="chartbox-title">
						<h1># 사용자 대화량</h1>
					</div>
				</div>
				<div id='chart7' class="chartbox">
					<div class="chartbox-title">
						<h1># 잉여력 랭킹</h1>
					</div>
				</div>
				<div id='chart8' class="chartbox">
					<div class="chartbox-title">
						<h1># Chart 8</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-contents">
			<div class="footer-info footer-container">
				<h1>MIINTTO</h1>
				<p>Created in 2019 by miintto</p>
			</div>
			<div class="footer-site footer-container">
				<h3>Links</h3>
				<p><a href="https://github.com/miintto" target="_blank">Github</a></p>
				<p><a href="https://blog.naver.com/mj93m" target="_blank">Naver Blog</a></p>
			</div>
			<div class="footer-contact footer-container">
				<h3>Contact</h3>
				<p>minjp93@gmail.com</p>
			</div>
		</div>
	</div>

	<script src="{% static 'script/charts/chart_functions.js' %}"></script>
	<script src="{% static 'script/charts/sample_json.js' %}"></script>
	<script src="{% static 'script/charts/charts_sample.js' %}"></script>
</body>
</html>