<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>카카오톡 대화 분석</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'script/jquery-1.12.4.min.js' %}"></script>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
</head>
<body>
	<div class="menu-bar">
		<div class="menu-title-bar">
			<center>
				<h3>카카오톡 대화 분석</h3>
			</center>
		</div>
		<div class="menu-button-bar">
			<div class="menu-button"><a href="{% url 'main' %}">Main</a></div>
			<div class="menu-button-active"><a href="{% url 'charts' %}">Charts</a></div>
			<div class="menu-button"><a href="{% url 'info' %}">Info</a></div>
		</div>
	</div>
	<div id="contents">
		<div id="title">
			<h2></h2>
		</div>
		{% csrf_token %}
		<table class='chart-table'>
			<tbody>
				<tr>
					<td>
						<div class="date-box">
							<ul class="date-interval">
								<li><p id="startdate" class="date-box-unit" onclick="show_date_popup()"></p></li>
								<li><p class="date-join-string">~</p></li>
								<li><p id="enddate"class="date-box-unit" onclick="show_date_popup()"></p></li>
							</ul>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart1' class="chartbox">
							<div class="chartbox-title">
								<h1># 월별 대화량</h1>
							</div>
							<div id="chart1-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
					<td>
						<div id='chart2' class="chartbox">
							<div class="chartbox-title">
								<h1># 사용자 점유율</h1>
							</div>
							<div id="chart2-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart3' class="chartbox">
							<div class="chartbox-title">
								<h1># 월별 대화 변동</h1>
							</div>
							<div id="chart3-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
					<td>
						<div id='chart4' class="chartbox">
							<div class="chartbox-title">
								<h1># 요일x시간별 대화량</h1>
							</div>
							<div id="chart4-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart5' class="chartbox">
							<div class="chartbox-title">
								<h1># 최빈 사용단어</h1>
							</div>
							<div id="chart5-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
					<td>
						<div id='chart6' class="chartbox">
							<div class="chartbox-title">
								<h1># 사용자 대화량</h1>
							</div>
							<div id="chart6-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id='chart7' class="chartbox">
							<div id="chart7-title" class="chartbox-title title-click" onclick="show_popup('#chart7')">
								<h1># 언급 횟수</h1>
							</div>
							<div id="chart7-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
					<td>
						<div id='chart8' class="chartbox">
							<div id="chart8-title" class="chartbox-title title-click" onclick="show_popup('#chart8')">
								<h1># 언급 횟수</h1>
							</div>
							<div id="chart8-loading">
								<center><img src="/static/img/chart_loading.svg" height="100%"></center>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="footer">
		<div class="footer-contents">
			<div class="footer-info footer-container">
				<h1>MIINTTO</h1>
				<p>Created in 2019 by miintto</p>
			</div>
			<div class="footer-site footer-container">
				<h3>Links</h3>
				<p><a href="https://github.com/miintto">Github</a></p>
				<p><a href="https://blog.naver.com/mj93m">Naver Blog</a></p>
			</div>
			<div class="footer-contact footer-container">
				<h3>Contact</h3>
				<p>minjp93@gmail.com</p>
			</div>
		</div>
	</div>
	</div>

	<!--날짜 선택 팝업창-->
	<div class="popup-date">
		<div class="popup-date-background" style="display:none;"></div>
		<div class="popup-date-range" style="display:none;">
			<div class="popup-close">
				<img src="/static/img/close_window.png" width="40" height="40" align="right" onclick="close_date_popup()">
			</div>
			<div class="popup-title">
				<center><h2>분석할 날짜 구간을 입력하세요.</h2></center>
			</div>
			<div class="popup-date-inputbox">
				<table class='date-input-table'>
					<tbody>
						<tr>
							<td>
								<div class="date-input-sec"><center><h3>시작날짜</h3></center>
								</div>
							</td>
							<td>
								<div class="popup-date-input">
									<center><input id="search-start_date"></center>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="date-input-sec"><center><h3>종료날짜</h3></center
								></div>
							</td>
							<td>
								<div class="popup-date-input">
									<center><input id="search-end_date"></center>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="submit-button">
				<center>
					<button onclick="submit_date_range()">확인</button>
				</center>
			</div>
		</div>
	</div>

	<!--분석할 단어 선택 팝업창-->
	<div class="popup-word">
		<div class="popup-word-background" style="display:none;"></div>
		<div class="popup-word-search" style="display:none;">
			<div class="popup-close">
				<img src="/static/img/close_window.png" width="40" height="40" align="right" onclick="close_popup()">
			</div>
			<div class="popup-title">
				<center><h2>분석할 단어를 입력하세요.</h2></center>
			</div>
			<div class="popup-input">
				<center><input id="search-word"></center>
			</div>
			<div class="submit-button">
				<center>
					<button onclick="submit_word()">확인</button>
					<div id="popup-classify" style="display:none;"></div>
				</center>
			</div>
		</div>
	</div>
	<script src="{% static 'script/charts/chart_functions.js' %}"></script>
	<script src="{% static 'script/charts/charts_ajax.js' %}"></script>
	<script src="{% static 'script/charts/charts_main.js' %}"></script>
</body>
</html>