<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>차트</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>
    <script type="text/javascript" src="{% static 'script/jquery-1.12.4.min.js' %}"></script>
</head>
<body>
	<div id="title">
		<h1></h1>
	</div>
	<div class="menu-bar">
		<div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'main' %}">처음</a></div>
			</div>
			<div class="menu-button-active">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'charts' %}">차트</a></div>
			</div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'inquiry' %}">정보</a></div>
			</div>
		</div>
	</div>
	<div class="range-date">
		<div><p>분석기간 : </p></div>
	</div>
	<div id="contents">
		{% csrf_token %}
		<table class='chart-table'>
			<tr>
				<td>
					<div id='chart1' class="chartbox">
						<div class="chartbox-title">
							<h2>#월별 대화량</h2>
						</div>
					</div>
				</td>
				<td>
					<div id='chart2' class="chartbox">
						<div class="chartbox-title">
							<h2>#사용자 점유율</h2>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id='chart3' class="chartbox">
						<div class="chartbox-title">
							<h2>#월별 대화 변동</h2>
						</div>
					</div>
				</td>
				<td>
					<div id='chart4' class="chartbox">
						<div class="chartbox-title">
							<h2>#요일x시간별 대화량</h2>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id='chart5' class="chartbox">
						<div class="chartbox-title">
							<h2>#최빈 사용단어</h2>
						</div>
					</div>
				</td>
				<td>
					<div id='chart6' class="chartbox">
						<div class="chartbox-title">
							<h2>#사용자 대화량</h2>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div id='chart7' class="chartbox">
						<div class="chartbox-title">
							<h2>#잉여력 랭킹</h2>
						</div>
					</div>
				</td>
				<td>
					<div id='chart8' class="chartbox">
						<div class="chartbox-title">
							<h2>#Chart 8</h2>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<script src="{% static 'script/charts/charts.js' %}"></script>
	<script src="{% static 'script/charts/main_analysis.js' %}"></script>
</body>
</html>