<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'script/common.js' %}"></script>
</head>

<body>
	<div class="main-box">
		<div id="status-box" class="status-box">
			<h2>{{ message }}</h2>
		</div>
		<div id="status-contents">

			{% if is_load %}
			<div class="main-contents">
<!--				<form method="GET" action="{% url 'charts' %}">-->
					{% csrf_token %}
					<div>
						<button onclick="load_charts()" class='charts'>분석</button>
					</div>
<!--				</form>-->
			</div>

			{% else %}
			<div class="main-contents">
				<button onclick="load_main()" class='main'>처음으로</button>
			</div>
			{% endif %}

		</div>
	</div>
</body>
</html>