<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<div class="main-box">
		<div id="status-box" class="status-box">
			<h2>{{ message }}</h2>
		</div>
		<div id="status-contents">

			{% if is_load %}
			<div class="main-contents">
				<form method="POST" action="{% url 'charts' %}">
					{% csrf_token %}
					<div>
						<button class='charts'>분석</button>
					</div>
				</form>
			</div>

			{% else %}
			<div class="main-contents">
				<form method="GET" action="{% url 'main' %}" enctype="multipart/form-data">
					<button class='charts'>처음으로</button>
				</form>
			</div>
			{% endif %}

		</div>
	</div>
</body>
</html>