<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<title>차트</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
</head>
<body>
	<div id="title">
		<h1>차트</h1>
	</div>
	<div class="menu-bar">
		<div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'main' %}">처음</a></div>
			</div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'check' %}">분석</a></div>
			</div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'charts' %}">차트</a></div>
			</div>
			<div class="menu-button-active">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'inquiry' %}">정보</a></div>
			</div>
		</div>
	</div>
	<div class="inquiry-contents" id="contents">
		<h3>Created bt miintto</h3>
		<br><br>
		문의 및 건의사항은 하단 이메일로 연락 바람
		<br><br>
		mjpark@datamarketing.co.kr
	</div>
</body>