<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>차트</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/chartbox.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/menubar.css' %}">
</head>
<body>
	<div id="title">
		<h1>차트</h1>
	</div>
	<div class="menu-bar">
		<div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'main' %}">처음</a></div>
			</div>
			<div class="menu-button">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'charts' %}">차트</a></div>
			</div>
			<div class="menu-button-active">
				<div class="menu-button-text"><a class="sidemenu" href="{% url 'inquiry' %}">정보</a></div>
			</div>
		</div>
	</div>
	<div class="inquiry-contents" id="contents">
		<br><br>
		문의 및 건의사항은 하단 이메일로 연락 바랍니다.<br><br>
		minjp93@gmail.com<br><br><br>
		Founded in 2019 & created by miintto<br>
		https://github.com/miintto
	</div>
</body>