<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>
	<div class="main-box">
		<div>
			<h1>Main</h1>
		</div>
		<div>
			<div class="main-comment">
				<h3>카카오톡 텍스트 파일을 올려주세요.</h3>
			</div>
			<form method="POST" action="{% url 'check' %}" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="load-file">
					<input type="file" name="uploadfile">
				</div>
				<button>분석</button>
			</form>
<!--			<div class="main-sample">-->
<!--				<a href="{% url 'charts' %}">샘플보기</a>-->
<!--			</div>-->
		</div>
	</div>
	<br>
</body>
</html>