<div class="footer">
    <div class="footer-contents">
        <div class="footer-info footer-container">
            <h1>MIINTTO</h1>
            <p>Created in 2019 by miintto</p>
        </div>
        <div class="footer-site footer-container">
            <h3>Links</h3>
            <p><a href="https://github.com/miintto" target="_blank">Github</a></p>
            <p><a href="https://blog.naver.com/mj93m" target="_blank">Naver Blog</a></p>
        </div>
        <div class="footer-contact footer-container">
            <h3>Contact</h3>
            <p>minjp93@gmail.com</p>
        </div>
    </div>
</div>